<!DOCTYPE html>
<html>
<head>
	<title>Poll</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
</head>
<body>
<h1>Dojo Poll</h1>
<h3>Cheez Its or Goldfish</h3>
<h4 id="cheezits">Cheez Its: </h4>
<h4 id="goldfish">Goldfish: </h4>

<div style="width: 400px; height: 400px;">
	<canvas id="myChart" width="400" height="400"></canvas>
</div>

<script type="text/javascript">
$(document).ready(function(){
    var socket = io.connect();
    socket.emit("getResults");
    socket.on("results", function(data){
    	
    	$('#cheezits').html(`Cheez Its: ${data.results.cheezits}`);
    	$('#goldfish').html(`Goldfish: ${data.results.goldfish}`);

	    var ctx = document.getElementById("myChart").getContext('2d');
		var myChart = new Chart(ctx, {
		    type: 'pie',
		    data: {
		    	datasets: [{
		    		data: [data.results.cheezits, data.results.goldfish],
		    		backgroundColor: [
		    			"#f50",
		    			"#ff0"
		    		],
		    	}],
		    	labels: [
		    		'Cheez Its',
		    		'Goldfish'
		    	],
            	borderWidth: 1
		    },
		});

	});
});
</script>
</body>
</html>